<h1>New Cohort</h1>

<%= form_for @cohort, url: {action: "create"} do |f| %>
  <%= render partial: "form", locals: {f: f} %>

  <%= f.hidden_field :teacher_id, value: @teacher.id %>
  <%= submit_tag "Submit" %>

<% end %>