<h1>Edit Lecture</h1>

<%= form_for @lecture, url: {action: "update"} do |f| %>
  <%= render partial: "form", locals: {f: f} %>

  <%= submit_tag "Submit", class: "btn btn-default" %>
  <button type="button" class="btn btn-default"><%= link_to "Back", "/teachers" %></button>
<% end %>